* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #F6FCDF;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr 80px;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
    "header header "
    "card resources"
    "footer footer";
    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;
      
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1A1A19;
    padding: 5px;
    height: 50px;
    font-size: 20px;
}
nav ul li a{
    color: white;
    background: #1A1A19;
    border-bottom: 0;
}
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31511E;
    color: white;
    font-size: 20px;
}
.card {
    grid-area: card;
}
section .resources {
    grid-area: resources;
}
header {
    grid-area: header;
}
.myimage {
    width: 150px;
}
.country {
    width: 180px;
    height: 110px;
}
header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31511E;
    color: white;
}
.card1{
    margin: 0px auto 0;
    width: 580.5px;
    height: 255px;
    display: grid;
    grid-template-columns: 1fr 160px;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "aboutme aboutme"
    "me myimage";
}
.card2 {
    margin: 50px auto 150px;
    width: 580.5px;
    height: 255px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "aboutcountry aboutcountry"
    "country countryinfo";
}
.me {
    grid-area: me;
    margin-top: 20px;
}
.aboutme {
    grid-area: aboutme;
    text-align: center;
}
.myimage {
    grid-area: myimage;
    margin-left: 20px;
    margin-top: 20px;
}
.aboutcountry {
    grid-area: aboutcountry;
    text-align: center;
}
.countryinfo {
    grid-area: countryinfo;
    margin-top: 20px;
}
.country {
    grid-area: country;
    margin-right: 20px;
    margin-top: 20px;
}
.aboutme {
    background-color: #31511E;
    margin-inline-start: -1.46em;
    margin-inline-end: -1.46em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
}
.aboutcountry {
    background-color: #31511E;
    margin-inline-start: -1.46em;
    margin-inline-end: -1.46em;
    color: white;
}
.card {
    display: grid;
    grid-template-columns: 450px 650px 434.5px;
    margin-top: -50px;
    grid-template-rows: 50px 560px 50px;
}
.border {
    grid-column: 2/3;
    grid-row: 2/3;
    border: #31511E solid;
    border-radius: 20px;
}
