body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header,main,footer {
    max-width: 640px;
    margin: 1rem auto;
    border: solid gray;
    padding: 20px;
    background-color: #87CEEB;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section {
    padding: 1rem;
    background-color: #fff;
}